@charset "UTF-8";

/* 버튼 태그 기본 css 제거 */
button, .btn{
	max-width: 150px;
	font-family: inherit;
	cursor: pointer;
	text-decoration: none;
	border: none;
	outline: 0;
	border-radius: 25px;
	background-color:#583b1f;
	color:#e5e0da;
	padding: 10px 20px;
}