@charset "UTF-8";


#headerBox{ 
	height:60px; 
	line-height:60px; 
	padding:0;
}

#logoBox{ /*logo img 영역*/
	float:left;
	height:60px;
	line-height:60px;
	padding-left:30px;
	font-weight:900;
	font-size:30px;
}

#topMenu{
	float:right;
	padding-right:30px;
	font-weight:700;
}

header a {
    color: #583b1f; 
    text-decoration: none; 
    font-weight: bold; 
}


header a:hover {
    opacity: 0.5;
}


