@charset "UTF-8";

* {
    margin: 0 auto;
    font-family: 'myriad';
}

#wrap {
    width: 100%;
    height: 100%;
    background-color: #e5e0da;
    text-align: center;
    position: relative;
}

/* 모든 img 테두리 제거 */
img {
    border: 0;
    margin: 0;
}

hr {
    border-width: 1.2px 0 0 0;
    border-style: solid;
    border-color: #583b1f;
    margin-right: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #7e7b46;
}

h1 {
    margin-top: 20px;
    font-size: 60px;
    color: #7e7b46;
}

/* 메인 메뉴 */
.mainMenu {
    margin-top: 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

/* 메뉴 이미지 */
.menuImg {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 150px;
}

/* 검색 */
.search {
    display: flex;
    justify-content: center;
}

.searchBox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
    width: 400px;
    background-color: #e5e0da;
    color: #583b1f;
    border: solid 1px #583b1f;
    padding: 10px;
}

.searchTxt {
    background-color: #e5e0da;
    width: 400px;
    color: #583b1f;
    border: none;
    padding-left: 20px;
    line-height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn {
    background-color: transparent;
    color: #583b1f;
    width: 80px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 버튼 */
.btn {
    max-width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btnFilled {
    background-color: #583b1f;
    color: #e5e0da;
}

.btnUnfilled {
    background-color: #e5e0da;
    color: #583b1f;
    border: solid 1.5px #583b1f;
}

/* 버튼 hover */
.btnFilled:hover {
    background-color: #71543d;
    transition: background-color 0.3s ease;
}