@charset "UTF-8";

h1{
	margin-top:20px;
	font-size:60px;
	color:#7e7b46;
}

.mainMenu{
	margin-top:30px;
	padding:20px;
	font-size:20px;
	font-weight:900;
	display:flex;
    justify-content:space-around;
    align-items:center;
    margin:20px 0;  
}
a{
	color: #7e7b46;
}

.menuImg{
	position:relative;
    width:250px; 
    height:250px;
    overflow:hidden;
	margin-top:30px;
	margin-bottom:10px;
  	border-radius:150px;
}

.search{
	display:flex;
    justify-content:center;
}

.searchBox{
	display:flex;
    justify-content:center;
	margin-top:30px;
	height:30px;
	width:400px;
	background-color:#e5e0da;
	color:#583b1f;
	border: solid 1px #583b1f; 
	padding:10px;
}

.searchTxt{
	background-color:#e5e0da;
	width:400px;
	color:#583b1f;
	border:none;
	float:left;
	padding:0;
	padding-left:20px;
	line-height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:15px;
}
.searchBtn{
	background-color:transparent;
	color:#583b1f;
	float:right;
	width:80px;
	height:30px;
	border:none;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.btn {
  max-width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.btnFilled{
	width:150px;
	background-color:#583b1f;
	color:#e5e0da;
}

.btnUnfilled{
	width:150px;
	background-color:#e5e0da;
	color:#583b1f;
	border: solid 1.5px #583b1f; 
}


/* 버튼 hover 효과 */
.btnFilled:hover {
    background-color: #71543d;  /* 호버 시 약간 밝은 브라운으로 변경 */
    transition: background-color 0.3s ease;
}
