@charset "UTF-8";

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}

.pagination a {
    display: block;
    padding: 5px 5px;
    margin: 0 5px;
    margin-right:5px;
    color: #583b1f;
    text-decoration: none;
}


.pagination a.active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination a.disabled {
    disability:hidden;
}
