@charset "UTF-8";

.btn {
  max-width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.btnFilled{
	background-color:#583b1f;
	color:#e5e0da;
}

.btnUnfilled{
	background-color:#e5e0da;
	color:#583b1f;
	border: solid 1px #583b1f; 
}
