@charset "UTF-8";

h1{
	font-size:60px;
	color:#7e7b46;
}

.menuImg{
	position: relative;
    width: 300px; 
    height: 300px;
    overflow: hidden;
	margin-top:30px;
	margin-bottom:10px;
  	border-radius:150px;
}

.searchBox{
	margin-top:30px;
	height:50px;
	width:600px;
	background-color:#e5e0da;
	color:#583b1f;
	border: solid 1px #583b1f; 
	padding:10px;
}

.searchTxt{
	background-color:#e5e0da;
	color:#583b1f;
	border:none;
	float:left;
	padding:0;
	padding-left:20px;
	line-height:50px;
	diplay:flex;
	justify-contents:center;
	align-items:center;
	font-size:20px;
}
.searchBtn{
	background-color:#e5e0da;
	color:#583b1f;
	float:right;
	width:80px;
	height:50px;
	border:none;
	diplay:flex;
	justify-contents:center;
	align-items:center;
	
}
