<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
    <insert id="insertMember" parameterType="com.example.vitabuddy.dto.MemberDTO">
        INSERT INTO users (UserId, UserName, UserPwd, UserEmail, UserPh, UserZipcode, UserAddress1, UserAddress2)
        VALUES (#{userId}, #{userName}, #{userPwd}, #{userEmail}, #{userPh}, #{userZipcode}, #{userAddress1}, #{userAddress2})
    </insert>
        
	<select id="selectUserById" parameterType="String" resultType="com.example.vitabuddy.dto.MemberDTO">
        SELECT * FROM users WHERE UserId = #{userId}
    </select>
    
    <select id="selectUserByEmail" parameterType="String" resultType="com.example.vitabuddy.dto.MemberDTO">
    SELECT * FROM users WHERE UserEmail = #{userEmail}
	</select>
    
</mapper>