<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vitabuddy.dao.IReviewDAO">

	<!-- ResultMap -->
	<resultMap id="reviewResultMap"
		type="com.example.vitabuddy.model.ReviewVO">
		<result property="reviewNo" column="REVIEWNO" />
		<result property="reviewTitle" column="REVIEWTITLE" />
		<result property="userId" column="USERID" />
		<result property="supId" column="SUPID" />
		<result property="rating" column="RATING" />
		<result property="reviewHashtag" column="REVIEWHASHTAG" />
		<result property="reviewDate" column="REVIEWDATE" />
		<result property="content" column="CONTENT" />
		<result property="startDate" column="STARTDATE" />
		<result property="endDate" column="ENDDATE" />
		<result property="reviewImg" column="REVIEWIMG" />
	</resultMap>

	<!-- 1. 리뷰 작성 -->
	<insert id="insertReview"
		parameterType="com.example.vitabuddy.model.ReviewVO">
		INSERT INTO REVIEW (REVIEWNO, REVIEWTITLE, USERID,
		SUPID, RATING, REVIEWHASHTAG, REVIEWDATE, CONTENT, STARTDATE, ENDDATE,
		REVIEWIMG)
		VALUES (#{reviewNo}, #{reviewTitle}, #{userId}, #{supId},
		#{rating}, #{reviewHashtag}, #{reviewDate}, #{content}, #{startDate},
		#{endDate}, #{reviewImg})
	</insert>


	<!-- 모든 리뷰 조회 -->
	<select id="reviewLists" parameterType="int"
		resultType="com.example.vitabuddy.model.ReviewVO">
		SELECT REVIEWNO AS reviewNo, REVIEWTITLE AS reviewTitle, USERID AS userId,
		SUPID AS supId,
		RATING AS rating, REVIEWHASHTAG AS reviewHashtag, REVIEWDATE AS reviewDate,
		CONTENT AS content, STARTDATE AS startDate, ENDDATE AS endDate,
		REVIEWIMG AS reviewImg
		FROM Review
		WHERE SUPID = #{supId}
	</select>

	<!-- 리뷰 삭제 -->
	<delete id ="deleteReview" parameterType = "map">
		DELETE FROM REVIEW
		WHERE REVIEWNO = #{reviewNo} AND USERID = #{userId}	
	</delete>





</mapper>